@{
    ViewData["Title"] = "Expedientes";
}
@* ///MODIFICAR TODO LOS EXP SERAN CON LISTA TB// *@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<body class="body2 fondoLogo">
<div class="text-center m-4">
  <img src="~/img/ExpedientesImg.png" alt="" class="juntos imgIcono">
    <h1 class="titulos juntos">MIS EXPEDIENTES</h1>
</div>
        <hr class="hrTitulos m-4">

<div class="row">
<div class="mb-3 col-3">
  <label for="DniClienteBuscar" class="form-label">Nombre Cliente</label>
  <input type="text" id="DniClienteBuscar" class="form-control"/>
</div>
<div class="mb-3 col-3">
  <button style="margin-top: 32px;" type="button" class="btn btn-secondary" onclick="BuscarExpediente()">
    Buscar
  </button>
</div>
@* <div class="mb-3 col-1"></div> *@
<div class="mb-3 col-3">
  <label for="NroExpBuscar" class="form-label">Número</label>
  <input type="text" id="NroExpBuscar" class="form-control"/>
</div>
<div class="mb-3 col-3">
  <button style="margin-top: 32px;" type="button" class="btn btn-secondary" onclick="BuscarExpediente()">
    Buscar
  </button>
</div>
</div>

<!-- Button trigger modal -->
<div class="mb-2">
  <button type="button" class="btn btn-secondary" onclick="NuevoRegistro()" data-bs-toggle="modal" data-bs-target="#ModalExpedientes">
    Nuevo Expediente
  </button>
</div>

<table class="table table-dark table-borderedless table-striped table-condensed">
  <thead>
    <tr>
      <th class="ocultar-en-550px">Nro</th>
      <th>Carátula</th>
      <th>Cliente</th>
      <th class="ocultar-en-768px">Abogado</th>
      <th class="ocultar-en-768px">Inicio</th>
      <th class="ocultar-en-768px">Fin</th>
      @* <th >Último Decreto</th> *@
      @* <th class="ocultar-en-768px">Docs</th> *@
      <th class="ocultar-en-550px">Link</th>
      <th>Estado</th>
      <th style="width: 70px"></th>
      <th style="width: 70px"></th>
            <th style="width: 70px"></th>

    </tr>
  </thead>
  <tbody  id="tbody-expedientes">
  </tbody>
</table>




<!-- Modal -->
<div class="modal fade" id="ModalExpedientes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-secondary">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="ModalTitulo">Nuevo Expediente</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <input type="hidden" id="ExpedienteID" value="0" />

            <div class="mb-3 col-6">
             <label for="Numero" class="form-label">Nro</label>
             <input type="text" class="form-control" id="Numero" style="text-transform:uppercase" placeholder="Nro de expediente">
            </div>

            <div class="mb-3 col-6">
             <label for="Caratula" class="form-label">Caratula</label>
             <input type="text" class="form-control" id="Caratula" style="text-transform:uppercase" placeholder="Caratula de expediente">
            </div>

            <div class="col-6 mb-3">
              <label for="NombreCompletoCliente" class="control-label labelModal">Cliente</label>
              @Html.DropDownList("ClienteID", null, htmlAttributes: new { @class = "form-control inputModalTexto", style = "cursor:pointer;text-align: justify;padding-top: 3px;"})
            </div>

            <div class="col-6 mb-3">
              <label for="NombreCompletoEquipo" class="control-label labelModal">Abogado</label>
              @Html.DropDownList("EquipoID", null, htmlAttributes: new { @class = "form-control inputModalTexto", style = "cursor:pointer;text-align: justify;padding-top: 3px;"})
            </div>

            <div class="mb-3 col-6">
              <label for="FechaInicio" class="form-label">Fecha de Inicio</label>
              <input type="date" id="FechaInicio" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>

            <div class="mb-3 col-6">
              <label for="FechaFin" class="form-label">Fecha de Fin</label>
              <input type="date" id="FechaFin" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>

            

            @* <div class="mb-3 col-6">
             <label for="DocLegales" class="form-label">Documentos</label>
             <input type="text" class="form-control" id="DocLegales" style="text-transform:uppercase" placeholder="Documentos del expediente">
            </div> *@

            <div class="mb-3 col-6">
             <label for="LinkContenido" class="form-label">Link al Contenido</label>
             <input type="text" class="form-control" id="LinkContenido" style="text-transform:uppercase" placeholder="Copiar link SAC">
            </div>

            <div class="mb-3 col-6">
              <label for="EstadoExpediente" class="form-label">Estado</label>
              @Html.DropDownList("EstadoExpediente", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="mb-3 col-12">
  <label for="UltimoDecreto" class="form-label">Ultimo Decreto</label>
  <textarea class="form-control" id="UltimoDecreto" style=" height: 180px;" placeholder="Ultimo Decreto"></textarea>
</div>

          </div>
        </form>      
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarRegistro()" class="btn btn-warning">Guardar</button>
      </div>
    </div>
  </div>
</div>


<div id="ModalDocsExpediente" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="docsExpedienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Documentos Legales del Expediente</h5>
                <button type="button" onclick="CerrarModalDocsExpediente();" class="cruzCerrar" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <input type="hidden" id="ExpedienteID" value="0" />

            <div class="modal-body">
                <div class="nav nav-tabs" id="tabsDocs" role="tablist">
                    <a class="nav-link active" id="tab_docs_ver-tab" data-bs-toggle="tab" href="#tab_docs_ver" role="tab" aria-selected="true">Visualizar</a>
                    <a class="nav-link" id="tab_docs_agregar-tab" data-bs-toggle="tab" href="#tab_docs_agregar" role="tab" aria-selected="false">Agregar</a>
                    <a class="nav-link" id="tab_docs_eliminar-tab" data-bs-toggle="tab" href="#tab_docs_eliminar" role="tab" aria-selected="false">Eliminar</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab_docs_ver" role="tabpanel">
                        <div id="DocsExpediente"></div>
                    </div>
                    <div class="tab-pane fade" id="tab_docs_agregar" role="tabpanel">
                        <div style="margin-top:15px;">
                            <input type="file" id="inputDoc" accept=".pdf,.doc,.docx" />
                        </div>
                        <div style="margin-top:15px; text-align:center;">
                            <button onclick="GuardarDocumento();" class="btn btn-ovalo">Guardar Documento</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab_docs_eliminar" role="tabpanel">
                        <table id="DocsExpedienteEliminar" class="table table-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/fotorama.js"></script>

  <script src="~/js/expediente-1.0.0.js"></script>

}

</body>









